h1{
    background-color: lime;
}
.el{
    color: blue;
}
.hu{
    color: red;
}
.il{
    color: yellow;
}
.fx{
    color: aquamarine;
}
.ay{
    color: blueviolet;
}
.ca{
    color: brown;
}
.to{
    color: burlywood;
}
#metn{
    background-color: brown;
}
#copy{
    background-color: bisque;
}
